PORT=4000
MONGODB_URL="mongodb+srv://sattargkl4:1Xyr5EfU68nFaiRn@cluster0.lsajh.mongodb.net/UberClone?retryWrites=true&w=majority&appName=Cluster0"
JWT_SECRET=hsajkvsjkvskj
CLIENT_URLS=http://localhost:5173,https://8zcq9clp-5173.inc1.devtunnels.ms